<div id="vue_home_app" v-cloak>
  <div class="container">
    <h1>{{ container }}</h1>
  </div>
  <aside>
    <h1>{{ sidebar }}</h1>
  </aside>
  <%= render 'shared/nav' %>

  <h1>Vue Props example</h1>
  <div id="example">
    <profile username="<%= @username %>" name="<%= @name %>"></profile>
  </div>
</div>

<%= javascript_pack_tag 'home-vue-component' %>
<%= javascript_pack_tag 'vue-props' %>
