<!DOCTYPE html>
<html>
  <head>
    <title>Rails on Webpack and Yarn - Chat example</title>
    <meta
      name="description"
      content="Rails on webpack and yarn with new webpacker gem - Chat example"
    />

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= action_cable_meta_tag %>

    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="imagetoolbar" content="no" />
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="authenticated" content="<%= user_signed_in? %>">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="chat-layout">
      <%= yield %>
    </main>
  </body>
</html>
